backend/venv
backend/__pycache__
backend/photo_uploads
backend/static/dev
backend/sharevents-bac56-362c818a2b0b.json

.env
.env.development
.env.production

data/__pycache__

frontend/node_modules
frontend/dist
frontend/dev-dist

migrations