@import url('https://unpkg.com/leaflet/dist/leaflet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-background {
  position: relative;
  background-color: #21005B;
  width: 100%;
  overflow: hidden;
}

.nav-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('/assets/background.gif');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: 0;
}

.nav-background > * {
  position: relative;
  z-index: 1;
}

html {
  -webkit-text-size-adjust: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

  -webkit-box-shadow: 0 0 0 1000px #0f172a inset !important;

  -webkit-text-fill-color: white !important;

  font-size: inherit !important;

  transform: none !important;

}
