name: Cleanup Cron

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  run-cleanup:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: python -m backend.cleanup
